<!--Content Section-->
<div id="services" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <!--Content Left Side-->
    <div class="col-3">
      <!--User Testimonial-->
      <blockquote class="testimonial text-right bigtest">
        <q
          >Мой компьютер, должно быть, неисправен: каждый раз, когда я задаю ему
          неверный вопрос, он выдает мне неверный ответ.
        </q>
        <footer>-- Эшли Брильянт</footer>
      </blockquote>
      <!-- End of Testimonial-->
    </div>
    <!--End Content Left Side-->

    <!--Content of the Right Side-->
    <div class="col-3">
      <div class="section-heading">
        <h3>Услуга</h3>
        <h2 class="section-title">Ремонт компьютеров</h2>
        <p class="section-subtitle">
          Профессиональная компьютерная помощь — залог длительного срока службы
          вашего компьютера. А гарантийное и абонентское обслуживание
          компьютеров после ремонта и техническая поддержка позволят избежать
          проблем с компьютером в будущем.
        </p>
      </div>
      <p>
        Наш сервисный центр «RepairYouPC» успешно ремонтирует компьютерную
        технику благодаря использованию профессионального оборудования и
        оригинальных комплектующих и расходных материалов.
      </p>
      <p>
        Многолетняя практика наших мастеров по ремонту компьютеров позволяет
        максимально точно и качественно выполнять компьютерный ремонт самых
        нестандартных поломок техники независимо от уровня сложности.
      </p>
    </div>
    <!--End Content Right Side-->
    <div class="col-3">
      <div class="section-heading">
        <h3>Услуга</h3>
        <h2 class="section-title">Продажа компьютеров</h2>
        <p class="section-subtitle">
          Наш сервис поможет Вам быстро и просто подобрать компьютер для любых
          нужд! Вы сможете собрать свою конфигурацию даже не обладая большими
          познаниями — мы на основе своего многолетнего опыта подберем
          комплектующие с самыми лучшими характеристиками от надежных
          производителей!
        </p>
      </div>
      <p>
        Для Вас мы подготовили готовые конфигурации в зависимости от задач,
        которые Вы ставите перед компьютером. Специально для геймеров подобрали
        «сборки» под популярные игры, а также представили оптимальные решения
        для разных бюджетов. И, конечно же, Вы сможете сами создать свою
        конфигурацию или отредактировать существующую!
      </p>
    </div>
  </div>
</div>
<!--End of Content Section-->
