<!--Beginning of header-->
<div id="header" class="nav-collapse nav-solid">
  <div class="row clearfix">
    <div class="col-1">
      <!--Logo-->
      <div id="logo">
        <h1 class="nav_logo">
          <a href="/Home" class="">RepairYouPC</a>
        </h1>
      </div>
      <!--End of Logo-->
      <!--Main Navigation-->
      <nav id="nav-main">
        <ul>
          <li>
            <a
              routerLink="/Home"
              (click)="getActiveTab('home')"
              [class.active]="activetab === 'home'"
              >Главная</a
            >
          </li>
          <li>
            <a
              routerLink="/About"
              (click)="getActiveTab('about')"
              [class.active]="activetab === 'about'"
              >О нас</a
            >
          </li>

          <li>
            <a
              routerLink="/Services"
              (click)="getActiveTab('services')"
              [class.active]="activetab === 'services'"
              >Услуги</a
            >
          </li>
        </ul>
      </nav>
      <!--End of Main Navigation-->
      <div id="nav-trigger"><span></span></div>
      <nav id="nav-mobile"></nav>
    </div>
  </div>
</div>
<!--End of Header-->
